@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book&Go</h1>
    <p class="lead">Simple Hotel Management System</p>
    <p><a asp-controller="Hotels" asp-action="ReadOnlyList" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>